<header>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top">
        <a class="navbar-brand" href="/">
            <img src="{{ asset('img/maytheforcebe.png') }}" width="30" height="30" class="d-inline-block align-top" alt="">
            <span class="d-none d-sm-inline">may the force be</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/films">films</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/people">personnages</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/planets">planètes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/species">espèces</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/starships">vaisseaux</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/vehicles">véhicules</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
