{% extends 'base.html.twig' %}

{% block title %}May the force be ||
	{{category}}
{% endblock %}

{% block body %}
{% set title = (item.title is defined) ? item.title : item.name %}
	<section class="text-center mt-5">
		<h1 class="title">{{title}}</h1>
	</section>

	<div class="category mb-5 py-5">

		<div class="row">
			<div class="card w-100 mb-4 box-shadow">
				<div class="card-body">
					<ul class="list-group list-group-flush">
						{% if category == "films" %}
							{% include 'components/_films.html.twig' %}
						{% elseif category == "people" %}
							{% include 'components/_people.html.twig' %}
						{% elseif category == "planets" %}
							{% include 'components/_planets.html.twig' %}
						{% elseif category == "species" %}
							{% include 'components/_species.html.twig' %}
						{% elseif category == "starships" %}
							{% include 'components/_starships.html.twig' %}
						{% elseif category == "vehicles" %}
							{% include 'components/_vehicles.html.twig' %}
						{% endif %}
					</ul>
					<a href="{{ path('app_category', {'category': category}) }}" class="btn back mt-5">Retour</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
