{% extends 'base.html.twig' %}

{% block title %}May the force be ||
	{{dataCategory.category}}
{% endblock %}

{% block body %}
	<section class="text-center mt-5">
		<h1 class="title">{{dataCategory.name}}</h1>
	</section>

	<div class="category mb-5 py-5">

		{% if items|length > 0 %}
		<div class="row">
			{% for item in items %}
				{% set title = (item.title is defined) ? item.title : item.name %}
				<div class="col-md-4 mb-3">
					<div class="card">
						<img src="{{asset(dataCategory.image)}}" class="card-img-top" alt="{{title}}">
						<div class="card-body d-flex flex-column justify-content-center align-items-center">
							<h4 class="card-title">{{title|upper}}</h4>
							<a href="{{ path('app_category_detail', {'category': dataCategory.category, id: item.id}) }}" class="btn {{dataCategory.lightsaber}}">Détails</a>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>

		<!-- Pagination -->
		<div class="pagination justify-content-center mt-5">
			{{ knp_pagination_render(items) }}
		</div>
		<!-- / Pagination -->

		{% else %}
			<div class="alert alert-warning" role="alert">
				<strong>Attention !</strong> Aucun élément n'a été trouvé.
			</div>
		{% endif %}

	</div>
{% endblock %}
