/* fonts */
@font-face {
    font-family: starjedi;
    src: url("../fonts/Starjedi.cc3019aa.ttf");
}

@font-face {
    font-family: starjout;
    src: url("../fonts/Starjout.f72f509a.ttf");
}

@font-face {
    font-family: biko;
    src: url("../fonts/Biko_Regular.7cf27339.otf");
}

/* color */
:root {
    --light: #FFF;
    --dark: #000;
    --yellow: #EDB800;
    --jedi: #1E18FF;
    --sith: #F82E25;
    --consular: #53A71C;
    --sentinel: #EDB800;
    --guardian: #F98701;
    --fashionista: #7200A1;
    --sentinel-transparent: rgba(237, 184, 0, 0.7) !important;
    --hope: #4BD6EE;
    --despair: #808080;
    --galaxy: rgba(255, 255, 255, 0.3);
    --shadow: Radial-gradient(closest-side, rgba(0, 0, 0, 0.75), 50%, transparent);
}

/* general */
* {
    margin:0;
    padding:0;
}

body {
    font-size: 12px;
    color: var(--dark);
    letter-spacing: 1px;
    background-color: var(--dark);
    background-image: url("../img/stars.png");
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center center;
    -webkit-background-size: cover;
    background-size: cover;
    font-family: biko, Arial, Helvetica, sans-serif;
}

.main {
    min-height: 80vh;
    margin-top: 40px;
}

h1 {
    color: var(--yellow);
    font-family: starjout;
    margin: 0;
    padding-right: 0 !important;
    padding-left: 0 !important;
}

h2, h3 {
    text-align: center;
    color: var(--yellow);
    font-family: biko, Arial, Helvetica, sans-serif;
    font-weight: bold;
}

h2 {
    font-size: 50px;
    margin: 25px 0 60px 0;
}

h3 {
    font-size: 40px;
    margin-top: 200px;
}

h5 {
    font-family: biko, Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: var(--dark);
    background-color: var(--sentinel-transparent);
    padding: 5px;
}

a {
    color: var(--yellow);
    font-family: starjedi;
}

.main a {
    font-size: 0.8rem;
    font-weight: 300;
    transition: color .3s;
}

.main a:hover{ color:var(--yellow); }

/* header and footer */
footer,
header {
    background-color: var(--yellow);
    padding: 5px 20px;
    color: var(--dark);
    text-align: center;
}

header .dropdown-menu { background-color: var(--dark); }

header .dropdown-item { color: var(--yellow); }

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 10px;
    font-family: starjedi;
}

.title {
    color: var(--dark);
    background-color: var(--yellow);
    border-top: 1px solid var(--dark);
    border-bottom: 1px solid var(--dark);
}

/* Navbar */
.navbar {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-around;
    padding: 0.5rem 1rem;
    background-color: var(--yellow);
}

.navbar-brand img {
    background: var(--dark);
    border-radius: 5px;
}

.navbar-brand span {
    color: var(--dark);
    margin-left: 10px;
}

.navbar-nav .nav-link {
    color: var(--dark);
    font-size: 16px;
    padding:10px;
    margin: 0 10px;
    text-decoration: none;
}

.navbar-nav .nav-link:hover {
    color: var(--yellow) !important;
    background-color: var(--dark);
}

.navbar-toggler-icon {
    background-color: var(--dark) !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: var(--dark);
}

/* home */
#universe {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

#far-far-away {
    position: absolute;
    z-index: 1;
    animation: intro 6s ease-out 1s;
    -moz-animation: intro 6s ease-out 1s;
    -webkit-animation: intro 6s ease-out 1s;
    -o-animation: intro 6s ease-out 1s;
    -ms-animation: intro 6s ease-out 1s;
    color: var(--hope);
    font-weight: 400;
    font-size: 200%;
    opacity: 0;
    top: 40%;
}

#universe .logo-star-wars {
    position: absolute;
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    top: 40%;
    animation: logo 9s ease-out 9s;
    -moz-animation: logo 9s ease-out 9s;
    -webkit-animation: logo 9s ease-out 9s;
    -o-animation: logo 9s ease-out 9s;
    -ms-animation: logo 9s ease-out 9s;
    opacity: 0;
}

#board {
    transform: perspective(300px) rotateX(25deg);
    transform-origin: 50% 100%;
    text-align: justify;
    position: absolute;
    font-weight: bold;
    overflow: hidden;
    font-size: 350%;
    height: 90em;
    width: 100%;
    bottom: 0;
    padding-right: 0 !important;
    padding-left:  0 !important;
}

#board:after {
    position: absolute;
    content: ' ';
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}

/* Set the scrolling animation and position it */
#board-content {
    animation: scroll 250s linear infinite 16s;
    -moz-animation: scroll 250s linear infinite 16s;
    -webkit-animation: scroll 250s linear infinite 16s;
    -o-animation: scroll 250s linear infinite 16s;
    -ms-animation: scroll 250s linear infinite 16s;
    position: absolute;
    top: 100%;
    width: 100%;
}

#board p {
    color: var(--yellow);
    font-size: 20px;
    margin-bottom: 50px;
}

/* buttons */
.btn:hover {
    background-color: var(--dark);
}

.jedi {
    color: var(--jedi) !important;
    border-color: var(--jedi) !important;
}
.jedi:hover {
    color: var(--light) !important;
    background-color: var(--jedi) !important;
    animation: jedi 2s infinite;
    -moz-animation: jedi 2s infinite;
    -webkit-animation: jedi 2s infinite;
    -o-animation: jedi 2s infinite;
    -ms-animation: jedi 2s infinite;
}

.sith {
    color: var(--sith) !important;
    border-color: var(--sith) !important;
}
.sith:hover {
    color: var(--dark) !important;
    background-color: var(--sith) !important;
    animation: sith 2s infinite;
    -moz-animation: sith 2s infinite;
    -webkit-animation: sith 2s infinite;
    -o-animation: sith 2s infinite;
    -ms-animation: sith 2s infinite;
}

.consular {
    color: var(--consular) !important;
    border-color: var(--consular) !important;
}
.consular:hover {
    color: var(--light) !important;
    background-color: var(--consular) !important;
    animation: consular 2s infinite;
    -moz-animation: consular 2s infinite;
    -webkit-animation: consular 2s infinite;
    -o-animation: consular 2s infinite;
    -ms-animation: consular 2s infinite;
}

.sentinel {
    color: var(--sentinel) !important;
    border-color: var(--sentinel) !important;
}
.sentinel:hover {
    color: var(--light) !important;
    background-color: var(--sentinel) !important;
    animation: sentinel 2s infinite;
    -moz-animation: sentinel 2s infinite;
    -webkit-animation: sentinel 2s infinite;
    -o-animation: sentinel 2s infinite;
    -ms-animation: sentinel 2s infinite;
}

.guardian {
    color: var(--guardian) !important;
    border-color: var(--guardian) !important;
}
.guardian:hover {
    color: var(--light) !important;
    background-color: var(--guardian) !important;
    animation: guardian 2s infinite;
    -moz-animation: guardian 2s infinite;
    -webkit-animation: guardian 2s infinite;
    -o-animation: guardian 2s infinite;
    -ms-animation: guardian 2s infinite;
}

.fashionista {
    color: var(--fashionista) !important;
    border-color: var(--fashionista) !important;
}
.fashionista:hover {
    color: var(--light) !important;
    background-color: var(--fashionista) !important;
    animation: fashionista 2s infinite;
    -moz-animation: fashionista 2s infinite;
    -webkit-animation: fashionista 2s infinite;
    -o-animation: fashionista 2s infinite;
    -ms-animation: fashionista 2s infinite;
}

.back {
    color: var(--dark) !important;
    border-color: var(--dark) !important;
}
.back:hover {
    color: var(--light) !important;
    background-color: var(--dark) !important;
    animation: dark 2s infinite;
    -moz-animation: dark 2s infinite;
    -webkit-animation: dark 2s infinite;
    -o-animation: dark 2s infinite;
    -ms-animation: dark 2s infinite;
}

/* category */
.category {
    padding: 40px;
    background-color: var(--galaxy);
    border: 1px solid var(--yellow);
    margin-bottom: 40px;
}

/* pagination */
.pagination .page-item .page-link {
    color: var(--yellow);
    background-color: var(--dark);
    border-color: var(--yellow);
}

.pagination .page-item:hover:not(.active) .page-link,
.pagination .page-item.disabled .page-link,
.pagination .page-item:hover.disabled .page-link {
    color: var(--dark);
    background-color: var(--yellow);
    border-color: var(--dark);
}

.pagination .page-item.active > .page-link {
    color: var(--dark);
    background-color: var(--yellow);
    border-color: var(--dark);
    font-weight: bold;
}

/* Animations */
@keyframes intro {
    0% { opacity: 0; }
    20% { opacity: 1; }
    90% { opacity: 1; }
    100% { opacity: 0; }
}
@-moz-keyframes intro {
    0% { opacity: 0; }
    20% { opacity: 1; }
    90% { opacity: 1; }
    100% { opacity: 0; }
}
@-webkit-keyframes intro {
    0% { opacity: 0; }
    20% { opacity: 1; }
    90% { opacity: 1; }
    100% { opacity: 0; }
}
@-o-keyframes intro {
    0% { opacity: 0; }
    20% { opacity: 1; }
    90% { opacity: 1; }
    100% { opacity: 0; }
}
@-ms-keyframes intro {
    0% { opacity: 0; }
    20% { opacity: 1; }
    90% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes logo {
    0% { width: 30%; transform: scale(2); opacity: 1; }
    50% { width: 30%; transform: scale(1);opacity: 1; }
    100% { width: 30%; transform: scale(0.1); opacity: 0; }
}
@-moz-keyframes logo {
    0% { width: 30%; transform: scale(2); opacity: 1; }
    50% { width: 30%; transform: scale(1);opacity: 1; }
    100% { width: 30%; transform: scale(0.1); opacity: 0; }
}
@-webkit-keyframes logo {
    0% { width: 30%; transform: scale(2); opacity: 1; }
    50% { width: 30%; transform: scale(1);opacity: 1; }
    100% { width: 30%; transform: scale(0.1); opacity: 0; }
}
@-o-keyframes logo {
    0% { width: 30%; transform: scale(2); opacity: 1; }
    50% { width: 30%; transform: scale(1);opacity: 1; }
    100% { width: 30%; transform: scale(0.1); opacity: 0; }
}
@-ms-keyframes logo {
    0% { width: 30%; transform: scale(2); opacity: 1; }
    50% { width: 30%; transform: scale(1);opacity: 1; }
    100% { width: 30%; transform: scale(0.1); opacity: 0; }
}

@keyframes scroll {
    0% { top: 100%; }
    100% { top: -170%; }
}
@-moz-keyframes scroll {
    0% { top: 100%; }
    100% { top: -170%; }
}
@-webkit-keyframes scroll {
    0% { top: 100%; }
    100% { top: -170%; }
}
@-o-keyframes scroll {
    0% { top: 100%; }
    100% { top: -170%; }
}
@-ms-keyframes scroll {
    0% { top: 100%; }
    100% { top: -170%; }
}

@keyframes jedi {
	from { box-shadow: 0 0 20px var(--jedi); }
	50% { box-shadow: 0 0 60px var(--jedi); }
	to { box-shadow: 0 0 20px var(--jedi); }
}
@-moz-keyframes jedi {
	from { box-shadow: 0 0 20px var(--jedi); }
	50% { box-shadow: 0 0 60px var(--jedi); }
	to { box-shadow: 0 0 20px var(--jedi); }
}
@-webkit-keyframes jedi {
	from { box-shadow: 0 0 20px var(--jedi); }
	50% { box-shadow: 0 0 60px var(--jedi); }
	to { box-shadow: 0 0 20px var(--jedi); }
}
@-o-keyframes jedi {
	from { box-shadow: 0 0 20px var(--jedi); }
	50% { box-shadow: 0 0 60px var(--jedi); }
	to { box-shadow: 0 0 20px var(--jedi); }
}
@-ms-keyframes jedi {
	from { box-shadow: 0 0 20px var(--jedi); }
	50% { box-shadow: 0 0 60px var(--jedi); }
	to { box-shadow: 0 0 20px var(--jedi); }
}

@keyframes sith {
	from { box-shadow: 0 0 20px var(--sith); }
	50% { box-shadow: 0 0 60px var(--sith); }
	to { box-shadow: 0 0 20px var(--sith); }
}
@-moz-keyframes sith {
	from { box-shadow: 0 0 20px var(--sith); }
	50% { box-shadow: 0 0 60px var(--sith); }
	to { box-shadow: 0 0 20px var(--sith); }
}
@-webkit-keyframes sith {
	from { box-shadow: 0 0 20px var(--sith); }
	50% { box-shadow: 0 0 60px var(--sith); }
	to { box-shadow: 0 0 20px var(--sith); }
}
@-o-keyframes sith {
	from { box-shadow: 0 0 20px var(--sith); }
	50% { box-shadow: 0 0 60px var(--sith); }
	to { box-shadow: 0 0 20px var(--sith); }
}
@-ms-keyframes sith {
	from { box-shadow: 0 0 20px var(--sith); }
	50% { box-shadow: 0 0 60px var(--sith); }
	to { box-shadow: 0 0 20px var(--sith); }
}

@keyframes consular {
	from { box-shadow: 0 0 20px var(--consular); }
	50% { box-shadow: 0 0 60px var(--consular); }
	to { box-shadow: 0 0 20px var(--consular); }
}
@-moz-keyframes consular {
	from { box-shadow: 0 0 20px var(--consular); }
	50% { box-shadow: 0 0 60px var(--consular); }
	to { box-shadow: 0 0 20px var(--consular); }
}
@-webkit-keyframes consular {
	from { box-shadow: 0 0 20px var(--consular); }
	50% { box-shadow: 0 0 60px var(--consular); }
	to { box-shadow: 0 0 20px var(--consular); }
}
@-o-keyframes consular {
	from { box-shadow: 0 0 20px var(--consular); }
	50% { box-shadow: 0 0 60px var(--consular); }
	to { box-shadow: 0 0 20px var(--consular); }
}
@-ms-keyframes consular {
	from { box-shadow: 0 0 20px var(--consular); }
	50% { box-shadow: 0 0 60px var(--consular); }
	to { box-shadow: 0 0 20px var(--consular); }
}

@keyframes sentinel {
	from { box-shadow: 0 0 20px var(--sentinel); }
	50% { box-shadow: 0 0 60px var(--sentinel); }
	to { box-shadow: 0 0 20px var(--sentinel); }
}
@-moz-keyframes sentinel {
	from { box-shadow: 0 0 20px var(--sentinel); }
	50% { box-shadow: 0 0 60px var(--sentinel); }
	to { box-shadow: 0 0 20px var(--sentinel); }
}
@-webkit-keyframes sentinel {
	from { box-shadow: 0 0 20px var(--sentinel); }
	50% { box-shadow: 0 0 60px var(--sentinel); }
	to { box-shadow: 0 0 20px var(--sentinel); }
}
@-o-keyframes sentinel {
	from { box-shadow: 0 0 20px var(--sentinel); }
	50% { box-shadow: 0 0 60px var(--sentinel); }
	to { box-shadow: 0 0 20px var(--sentinel); }
}
@-ms-keyframes sentinel {
	from { box-shadow: 0 0 20px var(--sentinel); }
	50% { box-shadow: 0 0 60px var(--sentinel); }
	to { box-shadow: 0 0 20px var(--sentinel); }
}

@keyframes guardian {
	from { box-shadow: 0 0 20px var(--guardian); }
	50% { box-shadow: 0 0 60px var(--guardian); }
	to { box-shadow: 0 0 20px var(--guardian); }
}
@-moz-keyframes guardian {
	from { box-shadow: 0 0 20px var(--guardian); }
	50% { box-shadow: 0 0 60px var(--guardian); }
	to { box-shadow: 0 0 20px var(--guardian); }
}
@-webkit-keyframes guardian {
	from { box-shadow: 0 0 20px var(--guardian); }
	50% { box-shadow: 0 0 60px var(--guardian); }
	to { box-shadow: 0 0 20px var(--guardian); }
}
@-o-keyframes guardian {
	from { box-shadow: 0 0 20px var(--guardian); }
	50% { box-shadow: 0 0 60px var(--guardian); }
	to { box-shadow: 0 0 20px var(--guardian); }
}
@-ms-keyframes guardian {
	from { box-shadow: 0 0 20px var(--guardian); }
	50% { box-shadow: 0 0 60px var(--guardian); }
	to { box-shadow: 0 0 20px var(--guardian); }
}

@keyframes fashionista {
	from { box-shadow: 0 0 20px var(--fashionista); }
	50% { box-shadow: 0 0 60px var(--fashionista); }
	to { box-shadow: 0 0 20px var(--fashionista); }
}
@-moz-keyframes fashionista {
	from { box-shadow: 0 0 20px var(--fashionista); }
	50% { box-shadow: 0 0 60px var(--fashionista); }
	to { box-shadow: 0 0 20px var(--fashionista); }
}
@-webkit-keyframes fashionista {
	from { box-shadow: 0 0 20px var(--fashionista); }
	50% { box-shadow: 0 0 60px var(--fashionista); }
	to { box-shadow: 0 0 20px var(--fashionista); }
}
@-o-keyframes fashionista {
	from { box-shadow: 0 0 20px var(--fashionista); }
	50% { box-shadow: 0 0 60px var(--fashionista); }
	to { box-shadow: 0 0 20px var(--fashionista); }
}
@-ms-keyframes fashionista {
	from { box-shadow: 0 0 20px var(--fashionista); }
	50% { box-shadow: 0 0 60px var(--fashionista); }
	to { box-shadow: 0 0 20px var(--fashionista); }
}

@keyframes dark {
	from { box-shadow: 0 0 20px var(--dark); }
	50% { box-shadow: 0 0 60px var(--dark); }
	to { box-shadow: 0 0 20px var(--dark); }
}
@-moz-keyframes dark {
	from { box-shadow: 0 0 20px var(--dark); }
	50% { box-shadow: 0 0 60px var(--dark); }
	to { box-shadow: 0 0 20px var(--dark); }
}
@-webkit-keyframes dark {
	from { box-shadow: 0 0 20px var(--dark); }
	50% { box-shadow: 0 0 60px var(--dark); }
	to { box-shadow: 0 0 20px var(--dark); }
}
@-o-keyframes dark {
	from { box-shadow: 0 0 20px var(--dark); }
	50% { box-shadow: 0 0 60px var(--dark); }
	to { box-shadow: 0 0 20px var(--dark); }
}
@-ms-keyframes dark {
	from { box-shadow: 0 0 20px var(--dark); }
	50% { box-shadow: 0 0 60px var(--dark); }
	to { box-shadow: 0 0 20px var(--dark); }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    body,
    footer {
        font-size: 14px;
    }
    .navbar-nav .nav-link {
        font-size: 16px;
    }
    h2 {
        font-size: 60px;
    }
    h3 {
        font-size: 50px;
    }
    #far-far-away {
        font-size: 250%;
    }
    #board {
        width: 80%;
    }
    #board p {
        font-size: 40px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    body,
    footer {
        font-size: 16px;
    }
    h2 {
        font-size: 70px;
    }
    h3 {
        font-size: 60px;
    }
    #far-far-away {
        font-size: 300%;
    }
    #board {
        width: 60%;
    }
    #board p {
        font-size: 40px;
    }
}