<!DOCTYPE html>
<html lang="en" data-theme="dark">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="May The Force Be">
		<meta name="author" content="Fred OLIVE - Développeur Web Php Symfony">
		<meta name="keywords" content="Star Wars, The Mandalorian, The Book of Boba Fett, The Bad Batch, Obi-Wan Kenobi, Ahsoka, Andor, Rangers of the New Republic, Lando, The Acolyte, Visions, Droid Story, Ahsoka, Star Wars: Rogue Squadron, Star Wars: A Droid Story, Star Wars: Ahsoka, Star Wars: The Acolyte, Star Wars: Visions, Star Wars: Rangers of the New Republic, Star Wars: Andor, Star Wars: Lando, Star Wars: Obi-Wan Kenobi, Star Wars: The Bad Batch, Star Wars: The Book of Boba Fett, Star Wars: The Mandalorian">
		<meta name="robots" content="index, follow">
		<meta name="googlebot" content="index, follow">
		<meta name="bingbot" content="index, follow">
		<title>
			{% block title %}May The Force Be
			{% endblock %}
		</title>
		<link rel="apple-touch-icon" sizes="180x180" href="{{ asset('img/favicon/apple-touch-icon.png') }}">
		<link rel="icon" type="image/png" sizes="32x32" href="{{ asset('img/favicon/favicon-32x32.png') }}">
		<link rel="icon" type="image/png" sizes="16x16" href="{{ asset('img/favicon/favicon-16x16.png') }}">
		{% block stylesheets %}
			<!-- Bootstrap CSS -->
			<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		{% endblock %}

		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
			<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
			<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		{% endblock %}
	</head>
	<body>
		{# Navbar #}
		{% include "partials/_navbar.html.twig" %}
		{# Main #}
		<main class="container"> {% block body %}{% endblock %}
			</main>
			{# Footer #}
			{% include "partials/_footer.html.twig" %}
		</body>
	</html>
