{% if item.episode_id is defined %}
	<li class="list-group-item">Episode : {{item.episode_id}}</li>
{% endif %}
{% if item.opening_crawl is defined %}
	<li class="list-group-item">Résumé : {{item.opening_crawl|raw}}</li>
{% endif %}
{% if item.director is defined %}
	<li class="list-group-item">Directeur : {{item.director}}</li>
{% endif %}
{% if item.producer is defined %}
	<li class="list-group-item">Producteur : {{item.producer}}</li>
{% endif %}
{% if item.release_date is defined %}
	<li class="list-group-item">Date de réalisation : {{item.release_date|date("d/m/Y")}}</li>
{% endif %}
{% if item.producer is defined %}
	<li class="list-group-item">Producteur : {{item.producer}}</li>
{% endif %}
