{% if item.height is defined %}
	<li class="list-group-item">Taille : {{item.height}}</li>
{% endif %}
{% if item.mass is defined %}
	<li class="list-group-item">Poids : {{item.mass}}</li>
{% endif %}
{% if item.hair_color is defined %}
	<li class="list-group-item">Couleur des cheveux : {{item.hair_color}}</li>
{% endif %}
{% if item.skin_color is defined %}
	<li class="list-group-item">Couleur de la peau : {{item.skin_color}}</li>
{% endif %}
{% if item.eye_color is defined %}
	<li class="list-group-item">Couleur des yeux : {{item.eye_color}}</li>
{% endif %}
{% if item.birth_year is defined %}
	<li class="list-group-item">Année de naissance : {{item.birth_year}}</li>
{% endif %}
{% if item.gender is defined %}
	<li class="list-group-item">Genre : {{item.gender}}</li>
{% endif %}
