{% if item.rotation_period is defined %}
	<li class="list-group-item">Période de rotation : {{item.rotation_period}}</li>
{% endif %}
{% if item.orbital_period is defined %}
	<li class="list-group-item">Période orbitale : {{item.orbital_period}}</li>
{% endif %}
{% if item.diameter is defined %}
	<li class="list-group-item">Diamètre : {{item.diameter}}</li>
{% endif %}
{% if item.climate is defined %}
	<li class="list-group-item">Climat : {{item.climate}}</li>
{% endif %}
{% if item.gravity is defined %}
	<li class="list-group-item">Gravité : {{item.gravity}}</li>
{% endif %}
{% if item.terrain is defined %}
	<li class="list-group-item">Terrain : {{item.terrain}}</li>
{% endif %}
{% if item.surface_water is defined %}
	<li class="list-group-item">Eaux de surface : {{item.surface_water|number_format(0, ',', ' ')}}</li>
{% endif %}
{% if item.population is defined %}
	<li class="list-group-item">Population : {{item.population|number_format(0, ',', ' ')}}</li>
{% endif %}
