{% if item.classification is defined %}
	<li class="list-group-item">Classification : {{item.classification}}</li>
{% endif %}
{% if item.designation is defined %}
	<li class="list-group-item">Désignation : {{item.designation}}</li>
{% endif %}
{% if item.average_height is defined %}
	<li class="list-group-item">Taille moyenne : {{item.average_height}}</li>
{% endif %}
{% if item.skin_colors is defined %}
	<li class="list-group-item">Couleur de peau : {{item.skin_colors}}</li>
{% endif %}
{% if item.hair_colors is defined %}
	<li class="list-group-item">Couleur de cheveux : {{item.hair_colors}}</li>
{% endif %}
{% if item.eye_colors is defined %}
	<li class="list-group-item">Couleur de yeux : {{item.eye_colors}}</li>
{% endif %}
{% if item.average_lifespan is defined %}
	<li class="list-group-item">Durée de vie moyenne : {{item.average_lifespan}}</li>
{% endif %}
{% if item.language is defined %}
	<li class="list-group-item">Language : {{item.language}}</li>
{% endif %}
