{% if item.model is defined %}
	<li class="list-group-item">Modèle : {{item.model}}</li>
{% endif %}
{% if item.manufacturer is defined %}
	<li class="list-group-item">Constructeur : {{item.manufacturer}}</li>
{% endif %}
{% if item.cost_in_credits is defined %}
	<li class="list-group-item">Coût du crédit : {{item.cost_in_credits|number_format(0, ',', ' ')}}</li>
{% endif %}
{% if item.length is defined %}
	<li class="list-group-item">Longueur : {{item.length}}</li>
{% endif %}
{% if item.max_atmosphering_speed is defined %}
	<li class="list-group-item">Vitesse atmosphérie maximale : {{item.max_atmosphering_speed}}</li>
{% endif %}
{% if item.crew is defined %}
	<li class="list-group-item">Equipage : {{item.crew}}</li>
{% endif %}
{% if item.passengers is defined %}
	<li class="list-group-item">Passagers : {{item.passengers}}</li>
{% endif %}
{% if item.cargo_capacity is defined %}
	<li class="list-group-item">Capacité de chargement : {{item.cargo_capacity}}</li>
{% endif %}
{% if item.consumables is defined %}
	<li class="list-group-item">Consommables : {{item.consumables}}</li>
{% endif %}
{% if item.hyperdrive_rating is defined %}
	<li class="list-group-item">Côte hyperdrive : {{item.hyperdrive_rating}}</li>
{% endif %}
{% if item.MGLT is defined %}
	<li class="list-group-item">MGLT : {{item.MGLT}}</li>
{% endif %}
{% if item.starship_class is defined %}
	<li class="list-group-item">Type de vaisseau : {{item.starship_class}}</li>
{% endif %}
